%h1.name{name: "footer"}
%nav#bottom-nav{role: "navigation"}
  %div.center
    %ul.inline-items
      %li
        %a{href: "mailto:ian.knauer@gmail.com"} Email
      %li
        %a{href: "http://twitter.com/ianknauer"} Twitter
      %li
        %a{href: "https://github.com/ianknauer"} Github


