%h1.name{name: "top"}
  %div.test
    %p IAN KNAUER
%nav#main-nav.global-nav{role: "navigation"}
  %ul.inline-items
    %li
      %a{href: "#"} ABOUT
    %li
      %a{href: "#"} BLOG
    %li
      %a.in-progress{href: "#"} PROJECTS

