%ul.articles
  %li.article
    %article.entry-header
      %h1.entry-title
        %a{href: "#"} How I built this blog. <em>Part 3</em>
      %p.entry-details
        on
        %a.aside-date{href: "#"} 03/10/14
      %p.entry-summary For the final entry in this series I'd like to talk about some of the more complicated bits of logic. etc extracting some of the featues to re-usable chunks and maybe go over my process for testing it. <a href="#">Read More</a>
  %li.article
  %article.entry-header
    %h1.entry-title
      %a{href: "#"} How I built this blog. <em>Part 2</em>
    %p.entry-details
      on
      %a.aside-date{href: "#"} 03/05/14
    %p.entry-summary For the second article here i'd like to talk about why i decided to use the Backend interface that I did. Also talk about so more complicated topics such as admin/user management and figuring out metadata for good SEO.  <a href="#">Read More</a>
  %li.article
  %article.entry-header
    %h1.entry-title
      %a{href: "#"} How I built this blog. <em>Part 1</em>
    %p.entry-details
      on
      %a.aside-date{href: "#"} 03/01/14
    %p.entry-summary For the first part of the series I'd like to write about how to do the intial set up with rails and a bit of a background on how it works. I'd like to talk about models, controllers and views and how it uses these to pull the content through from the database.<a href="#">Read More</a>